/.vs
/packages

Server/Host/bin
Server/Host/obj

Server/Model/bin
Server/Model/obj

Server/ViewModel/bin
Server/ViewModel/obj

Server/FuelingManagerService/bin
Server/FuelingManagerService/obj


Clients/AdminClient/bin
Clients/AdminClient/obj

Clients/FleetManagerClient/bin
Clients/FleetManagerClient/obj

Clients/FuelingSimulatorClient/bin
Clients/FuelingSimulatorClient/obj
